<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to homeboard.com, <%= @user.first_name %>!</p>
    <p>
      To activate your account, please use the code '<%= @token %>'.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
